<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @shop.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @shop.detail %>
</p>

<p>
  <strong>Location:</strong>
  <%= @shop.location %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
